body {
    font-family: Verdana,Helvetica,Tahoma,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
th{
	text-align: center;
	background-color: #ccc;
}
.arrow{
	background-image: url("../img/arrows_sm.jpg");
	overflow: hidden;
	width: 16px;
  	height: 16px;
  	float: right;
  	background-size:16px 32px;
}
.down{
	background-position: 0 16px;
}
td img{
	width: 32px;
	height: 32px;
	display: block;
	margin: 0 auto;
}
.row-add-item{
	background-color: #4C89BD !important;
}
.row-detete-item{
	background-color: #d9534f !important;
}
.row-add-item a,.row-add-item a:hover, .row-add-item a:active,.row-add-item a:link,
.row-detete-item a,.row-detete-item a:hover, .row-detete-item a:active,.row-detete-item a:link{
	color:#fff;
	font-weight: bold;
}
textarea { 
	resize: vertical; 
}
.hint{
	color: #F00;
	font-style: italic;
	text-align: right;
}
.back{
	display:block;
	clear:both;
	margin: 20px auto 50px;
	max-width: 200px;
}